<aside class="placar">
  <div class="head">
    Placar
  </div>
  <div class="body">
    Jogador: {{placar.ja}} <br>
    IA: {{placar.ia}}
  </div>

  <button class="mt-3 btn btn-outline-light btn-block" (click)="reiniciar()">Reiniciar</button>
  <button class="mt-3 btn btn-outline-light btn-block" (click)="proxima()" *ngIf="mostrarProxima">Proxima</button>

</aside>


<aside class="placarGeral">
  <div class="head">
    Placar Geral
  </div>
  <div class="body">
    Jogador: {{placarGeral.ja}}
    IA: {{placarGeral.ia}}
  </div>
</aside>

<main class="main-content" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="jogador">

        <div class="cartas">
          <div class="carta carta-ia" *ngFor="let carta of jogadores[1].cartas">
            <div class="carta-body">
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row justify-content-center">
      <div class="mesa">

        <div class="cartas">

          <div *ngIf="cartaMesaIa">
            <div class="carta" [ngClass]="cartaMesaIa.naipe">
              <div class="carta-body" [ngClass]="cartaMesaIa.naipe">
                  {{cartaMesaIa.numero}} <br><br>
                  <img width="30" height="30" [src]="'/assets/images/' + cartaMesaIa.naipe + '.png'" />
              </div>
            </div>
          </div>

          <div *ngIf="cartaMesaJa">
            <div class="carta" [ngClass]="cartaMesaJa.naipe">
              <div class="carta-body" [ngClass]="cartaMesaJa.naipe">
                  {{cartaMesaJa.numero}} <br><br>
                  <img width="30" height="30" [src]="'/assets/images/' + cartaMesaJa.naipe + '.png'" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr>

    <div class="row justify-content-center">
      <div class="jogador">

        <div class="cartas">
          <div class="carta" *ngFor="let carta of jogadores[1].cartas" [ngClass]="carta.naipe" (click)="selecionarCarta(carta)" [class]="cartaSelecionada && cartaSelecionada.equalsTo(carta) ? 'selecionada' : ''">
            <div class="carta-body" [ngClass]="carta.naipe">
                {{carta.numero}} <br><br>
               <img width="30" height="30" [src]="'/assets/images/' + carta.naipe + '.png'" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
